.registration{
    display: flex;
    flex-direction: column;
    width: 500px;
    align-items: center;
    background-color: white;
    border-radius: 20px;
    padding: 30px;
    margin-top: 150px;
}

.registration_header{
    font-size: 30px;
    font-weight: 700;
    color: #566885;
}

.registration_btn{
    margin-top: 10px;
    border: none;
    background-color: #566885;
    border-radius: 5px;
    color: white;
    font-weight: 700;
    padding: 5px 10px;
    cursor: pointer;
}