
.container{
    width: 90%;
    display: flex;
    align-items: center;
}

.navbar{
    display: flex;
    height: 50px;
    justify-content: center;
    background-color: white;
    width: 100%;
}

.navbar_header{
    margin-left: 10px;
    font-size: 24px;
    font-weight: 700;
}

.navbar_login{
    margin-left: auto;
    margin-right: 20px;
}

.navbar__search {
    width: 200px;
    margin-left: 30px;
  }